In [22]:
#Importing the required Libraries..
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
#loading the dataset and reading
df = pd.read_csv('noshowappointments.csv')

In [24]:
# first rows of the dataset:
df.head(6)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No

In [27]:
# the number of rows and columns in a dataset
df.shape

(110527, 14)

In [28]:
# statistics for all columns of the dataset
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [16]:
#number of NaN in a data set

df.duplicated().sum()

0

In [17]:
#let delete the duplicates 
df.drop_duplicates(inplace = True)

In [29]:
# information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [19]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [20]:
df['No-show'].value_counts()

No     88208
Yes    22319
Name: No-show, dtype: int64

In [21]:
df.loc[:, ['PatientId', 'AppointmentID']].nunique()

PatientId         62299
AppointmentID    110527
dtype: int64

In [ ]:
#All appointments took place between 29 April 2016 and 8 June 2016.
df['appointmentday'].min(), df['appointmentday'].max()

In [ ]:
# To visualise this with a bar chart
df.groupby('gender').gender.count()
#feature_rel_plot(df, 'count', 'gender')

In [ ]:
# Creating dataframe and grouping wiht respect to appointmentday & no_show
df_line = df.groupby(["appointmentday","noshow"])["noshow"].count().reset_index(name="appt_count")
df_line.head()

# gender¶

In [ ]:
# plot of gender
sns.countplot(df['gender']);
plt.xlabel('Gender')
plt.ylabel('Count')
plt.title('Gender Bar Diagram');

So there are more female patient than male patient in dataset.

In [ ]:
# table
gender_noshow = pd.crosstab(index=df["gender"],
            columns=df["noshow"])
gender_noshow

In [ ]:
# plot 
gender_noshow.plot(kind='bar',stacked = True)
plt.xlabel('Gender')
plt.ylabel('Count')
plt.title('Gender vs No Show Stacked Bar Diagram');

showed up and not showed up both group is higher for female than male because more patients in data set is female. So its better to see proportionally.

In [ ]:
# this plot for each group with patient who showed up and not showed up

column_plot = ['scholarship', 
               'hypertension',
               'diabetes', 
               'alcoholism', 
               'handicap', 
               'smsreceived']

fig = plt.figure(figsize= (12,14))
for number, column in enumerate(column_plot):
    axes = fig.add_subplot(3,2, number+1)
    axes.set_title(column.capitalize() + ' vs No Show')
    pd.crosstab(index = df[column], columns = df['noshow']).plot(kind = 'bar',
                                                                           stacked = True, 
                                                                           ax = axes, 
                                                                          color = ['skyblue','orange'])
    axes.set_xlabel(column.capitalize())
    plt.ylabel('Count')
    
plt.tight_layout()

In [ ]:
column_plot = ['scholarship', 
               'hypertension',
               'diabetes', 
               'alcoholism', 
               'handicap', 
               'smsreceived']
# count patient number in each group
fig = plt.figure(figsize= (10,20))
for number, column in enumerate(column_plot):
    axes = fig.add_subplot(3,2, number+1)
    axes.set_xlabel(column.capitalize())
    axes.set_title('Bar Diagram for ' + column.capitalize())
    df[column].value_counts().plot(kind = 'bar', ax = axes, color = ['skyblue', 'orange'])
    plt.ylabel('Count')
plt.tight_layout()

In [ ]:
# this plot is same as above one execpt it show proportion.
column_plot = ['scholarship', 
               'hypertension',
               'diabetes', 
               'alcoholism', 
               'handicap', 
               'smsreceived']

fig = plt.figure(figsize= (8,12))
for number, column in enumerate(column_plot):
    axes = fig.add_subplot(3,2, number+1)
    axes.set_title(column.capitalize() + ' vs No Show')
    pd.crosstab(index = df[column], columns = df['noshow'],normalize = 'index').plot(kind = 'bar',
                                                                           stacked = True, 
                                                                           ax = axes, 
                                                                          color = ['skyblue','orange'])
    
    axes.set_xlabel(column.capitalize())
    plt.ylabel('Proportion')
plt.tight_layout() 
plt.legend(loc = 3);

# For Alcoholism

In [ ]:
# For Alcoholism

df.alcoholism.value_counts()

In [ ]:
df.alcoholism.value_counts(normalize=True) * 100

In [ ]:
df.groupby(["noshow","alcoholism"], as_index=False).size()

In [ ]:
alc_g = sns.FacetGrid(df, col = 'alcoholism')
alc_g.map(plt.hist, 'noshow', bins = 5);

From the 3% of the people who are alcoholic, most of them are found commited to their appointments. As less as 677 of all the alcohoic people did not showup